# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Work\1.Project\2.IndependentTEMReceiver\10.item\sixChannel\SixChannel\5.Liuwei_\v1s0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
